
     
    
body {
  background: linear-gradient(135deg, #0b1019,rgb(68, 89, 179), #ced2ea,white);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;


}


.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  position: relative;
}